<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- 总控制器 -->
	<bean name="authManager" class="org.j2auth.main.AuthManager">
		<map-ref name="authFilters" type="org.j2auth.main.AuthFilter">
			<entry name="cookieVerifier" ref="cookieVerifier"/>
			<entry name="anonymousVerifier" ref="anonymousVerifier"/>
		</map-ref>
	</bean>

	<!-- cookie验证 -->	
	<bean name="cookieVerifier" class="org.j2auth.filters.CookieVerifier">
		<ref name="decoder" type="org.j2auth.util.Decoder"/>
		<!-- 还没实现 -->
		<ref name="userService" type="org.j2auth.filters.UserService"/>
	</bean>
	
	<!-- cookie解密器 -->
	<bean name="decoder" class="org.j2auth.util.SimpleDecoder"/>
	
	<!-- 处理匿名登录 -->
	<bean name="anonymousVerifier" class="org.j2auth.filters.AnonymousVerifier"/>
	
	<bean name="userService" class="org.j2auth.filters.UserServiceImpl"/>
</beans>